asgiref==3.10.0
crispy-bootstrap5==2025.6
django==5.2.7
django-crispy-forms==2.4
et-xmlfile==2.0.0
narwhals==2.10.1
numpy==2.3.4
openpyxl==3.1.5
packaging==25.0
pandas==2.3.3
plotly==6.3.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytz==2025.2
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
